.quiz-background {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.quiz-card {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 5% 0;
}

.option {
    width: 80%;
    height: 12%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    color: white;
    font-size: 1.2em;
    margin: 1% 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}

.option:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* .option-selected is used to highlight the selected option, so it's not unnecessary */
.option-selected {
    background-color: rgba(255, 255, 255, 0.5);
}

.quiz-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.quiz-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quiz-title {
    font-size: 2em;
    color: white;
    margin-bottom: 5%;
}

.button {
    width: auto;
    height: auto;
    max-width: 200px; /* Example of how to limit the button width if necessary */
    padding: 10px 20px;  
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.2em;
    margin: 0 15%;
    display: flex;         
    justify-content: center; 
    align-items: center;     
}

.buttons-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back, .next {
    background-image: linear-gradient(to right, #ff416c, #ff4b2b); /* Gradient effect serves as the background */
    width: 60%; /* Width relative to their container */
    min-height: 65px; /* Minimum height for touch targets and visibility */
    color: white; /* Text color for contrast */
    font-size: 1.2em; /* Scaled font size for readability */
    font-weight: bold; /* Bold text for emphasis */
    letter-spacing: 1px; /* Spacing between letters for better readability */
    border-radius: 20px; /* Rounded corners for aesthetics */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    cursor: pointer; /* Indicates interactiveness */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Transition for transform and shadow */
}

.back:hover, .next:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
    transform: translateY(-2px); /* 'Lifts' the button on hover */
}




.question-label {
    color: orange;
}


.answers-container {
    background: linear-gradient(to bottom right, #282828, #ff7e5f);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answers-container h2 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin-bottom: 20px;
}

.answers-list {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
}

.answers-list li {
    background: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
    height: 50px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.1em;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.answers-list li:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
    transition: transform 0.2s, background-color 0.3s ease;

}


.score-percentage {
    font-size: 2em;
    color: #2193b0;
}

.answers-list .answer-item {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.answer-image {
    width: 50px;
    margin-right: 10px;
}

.answer-text {
    text-align: left;
}

.button.restart {
    background-color: #2193b0;
    color: #fff;
    padding: 8px 20px;
    font-size: 0.9em;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.button.restart:hover {
    background-color: #6dd5ed;
    transform: translateY(-2px);
}
.Summary{
    margin-top: 100px;
}